$text_color: #111;
$color_dark_grey: #111;
$color_medium_grey: #999;
$color_gray: #e6e6e6;
$color_light_grey: #ccc;

$color_red: #ec5f72;
$color_dark_brown: #3b2b2c;
$color_beige: #f7f4ef;
$color_yellow: #ffb31a;
$color_green: #9fb003;
$theme_border_radius: 8px;
