$text_color: #111;
$color_dark_grey: #111;
$color_medium_grey: #999;
$color_gray: #e6e6e6;
$color_light_grey: #ccc;

$color_red: #e8374f;

$color_dark_brown: #342628;
$color_beige: #f7f4ef;
$color_yellow: #feaa00;
$color_green: #9fb003; //#788402;
$theme_border_radius: 8px;
