@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@import "./variables";
@import "../layout/BurgerBtn";
@import "../layout/Navbar";

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: $text_color;
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  background: $color_red;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  transition: all 0.2s ease-in;
  border: 1px solid $color_red;
  &:hover {
    background: transparent;
    color: $color_red;
  }
}
h1,
h2,
h3 {
  color: $color_red;
}
h2 {
  font-size: 1.4rem;
  margin-bottom: 8px;
}

//header and nav
.menu {
  position: fixed;
  width: 100%;
  header {
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $color_gray;
  }
}
//main
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 100px;
}

.post_list_section {
  > h2 {
    padding-left: 16px;
    color: inherit;
  }
}
//post_list, post details, not_found_page
.post_list,
.post_details,
.not_found_page {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      background: transparent;
      color: $color_red;
      border: 1px solid $color_red !important;
      border: 0;
      padding: 8px;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.2s ease-in;
      &:hover {
        background: $color_red;
        color: #fff;
      }
    }
  }
  .post_preview {
    padding: 10px 16px;
    margin: 10px 0;
    border-bottom: 1px solid #f2f2f2;
    &:hover {
      box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
    }
  }
  a {
    display: block;
    color: $color_red;
    text-decoration: none;
  }
  .post_author {
    margin-bottom: 1.5rem;
    span {
      color: $color_red;
    }
  }
  .post_body {
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }
}

//create, edit
.create_post,
.edit_post {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  label {
    text-align: left;
    display: block;
    margin: 2rem 0 1rem 0;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
  }
  input,
  textarea,
  select {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;
    border: 1px solid $color_gray;
    box-sizing: border-box;
    display: block;
    background-color: transparent;
    border-radius: 5px;
    font-size: 0.9rem;
  }
  textarea {
    min-height: 120px;
    border: 1px solid $color_gray;
  }
}
