//create new blog form
.create_post {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  label {
    text-align: left;
    display: block;
  }
  input,
  textarea,
  select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    background-color: transparent;
  }
}
