//Navbar
.navbar {
  //position: absolute;
  height: 100%;
  position: fixed; //obs!!
  top: 0;
  left: -250px; //obs!!
  z-index: 0; //obs!!  //same parent as header and vego_burger in that
  height: 100%;
  width: 250px; //obs!!
  padding: 3rem;
  padding-top: 6rem;
  transition: left ease-in 0.3s; //obs!!
  text-align: left;
  background: #f2f2f2;
  a {
    color: inherit;
    display: block;
    margin-bottom: 0.8rem;
    text-decoration: none;
    &:hover {
      div {
        color: $color_red;
        text-decoration: underline;
      }
    }
    &.active {
      div {
        color: $color_red;
      }
    }
  }
  &.open {
    left: 0;
  }
}
